<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item class="hover-highlight" role="listitem">
        <div class="list-text">I'm a basic bitch</div>
      </mat-list-item>
      <mat-list-item class="hover-highlight" role="listitem">
        <div class="list-text">I'm a basic bitch</div>
      </mat-list-item>
      <mat-list-item class="hover-highlight" role="listitem">
        <div class="list-text">I'm a basic bitch</div>
      </mat-list-item>
      <mat-list-item class="hover-highlight" role="listitem">
        <div class="list-text">I'm a basic bitch</div>
      </mat-list-item>
      <mat-list-item class="hover-highlight" role="listitem">
        <div class="list-text">I'm a basic bitch</div>
      </mat-list-item>
      <mat-list-item class="hover-highlight" role="listitem">
        <div class="list-text">I'm a basic bitch</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">Welcome</button>
  </div>
</mat-drawer-container>
